<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winterchen.dao.CollectionManagerMapper">

    <delete id="deleteByLogicId">
        delete from collection where logic_id=#{logic_id}
    </delete>

    <delete id="deleteByMeasureId">
        delete from collection where measure_id=#{measure_id}
    </delete>



    <delete id="deleteByElementId">
        delete from collection where dev_element_id=#{dev_element_id}
    </delete>

    <delete id="deleteById">
        delete from collection where collection_id=#{collection_id}
    </delete>

    <select id="getByEnterpriseId" resultType="com.winterchen.model.CollectionManager">
        select a.* from collection a,dev_elements b where a.dev_element_id=b.dev_element_id
        and b.enterprise_id=#{id}
    </select>

    <select id="queryOnCollectCountByEntity" parameterType="com.winterchen.model.CollectionManager" resultType="java.lang.Integer">
        select count(1) from collection where status='1'
        <if test="dev_element_id!=null">
            and dev_element_id=#{dev_element_id}
        </if>
        <if test="collection_id!=null">
            and collection_id=#{collection_id}
        </if>
        <if test="measure_id!=null">
            and measure_id=#{measure_id}
        </if>
        <if test="channel_id!=null">
            and channel_id like concat('%',#{channel_id},'%')
        </if>
    </select>

    <delete id="deleteByEnterpriseId">
        DELETE from collection where dev_element_id in (SELECT dev_element_id from dev_elements where enterprise_id=#{id})
    </delete>

    <select id="queryByEntity" parameterType="com.winterchen.model.CollectionManager" resultType="com.winterchen.model.CollectionManager">
        select * from collection where 1=1
        <if test="collection_id!=null">
            and collection_id=#{collection_id}
        </if>
        <if test="measure_id!=null">
            and measure_id=#{measure_id}
        </if>
        <if test="logic_id!=null">
            and logic_id=#{logic_id}
        </if>
        <if test="dev_element_id!=null">
            and dev_element_id=#{dev_element_id}
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
         order by update_time desc
    </select>

    <update id="updateByCollectionId" parameterType="com.winterchen.model.CollectionManager">
        update collection set collection_type=#{collection_type},collection_frequency=#{collection_frequency},
        collection_cycle=#{collection_cycle},collection_accuracy=#{collection_accuracy},collection_interval=#{collection_interval},
        measure_id=#{measure_id},channel_id=#{channel_id},logic_id=#{logic_id},dev_element_id=#{dev_element_id},
        status=#{status} where collection_id=#{collection_id}
    </update>

    <insert id="insert"  parameterType="com.winterchen.model.CollectionManager">
        insert into collection(collection_id,collection_type,collection_frequency,collection_cycle,collection_accuracy,
        collection_interval,measure_id,channel_id,logic_id,dev_element_id,status) value (#{collection_id},#{collection_type},
        #{collection_frequency},#{collection_cycle},#{collection_accuracy},#{collection_interval},#{measure_id},#{channel_id},
        #{logic_id},#{dev_element_id},#{status})
    </insert>

    <update id="updateByLogicIdNull">
        update collection set logic_id=null where logic_id=#{logic_id}
    </update>

    <select id="getByChId"  resultType="com.winterchen.model.CollectionManager">
        select * from collection where channel_id like concat('%',#{id},'%')
    </select>

    <select id="getByChIdAndId" parameterType="com.winterchen.model.CollectionManager" resultType="com.winterchen.model.CollectionManager">
        select * from collection where channel_id like concat('%',#{channel_id},'%')
        <if test="collection_id!=null">
            and collection_id!=#{collection_id}
        </if>
    </select>

</mapper>