<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifuyi.dev_monitor.dao.CollectMapper">


    <select id="getUnBindingCollectChannelCode" resultType="java.lang.String">
        select channel_code from physical_channel_binding where physical_id=#{physicalId}
        and channel_type_id=#{typeId} and collect_id is null
    </select>

    <select id="countNumCollectChannel" resultType="java.lang.Integer">
        select count(1) from physical_channel_binding where  physical_id=#{physicalId} and collect_id is not null
        and channel_code in
        <foreach item="item" index="index" collection="codes" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insertOrUpdateCollectConfig" parameterType="com.lifuyi.dev_monitor.model.collect.CollectDevConfig">
        insert into collect_dev_config(id,signal,phase,physical_id,channel_type_id,channel_code,logic_id,collect_dev_id,state)
        values (#{id},#{signal},#{phase},#{physical_id},#{channel_type_id},#{channel_code},#{logic_id},#{collect_dev_id},#{state})
        ON DUPLICATE KEY UPDATE
        signal=#{signal},phase=#{phase},physical_id=#{physical_id},channel_type_id=#{channel_type_id},
        channel_code=#{channel_code},logic_id=#{logic_id},collect_dev_id=#{collect_dev_id},state=#{state}
    </insert>

    <select id="getCollectConfigByDevGroup" resultType="com.lifuyi.dev_monitor.model.collect.resp.CollectConfigResp"
            parameterType="com.lifuyi.dev_monitor.model.collect.req.CollectConfigQueryReq">
        select id,signal,phase,physical_id,channel_type_id,channel_code,logic_id,collect_dev_id,
        (select `name` from physical where id=physical_id) as physical_name,
        (select logic_name from logic_node where logic_id=con.logic_id)  as logic_name,state
         from collect_dev_config con where collect_dev_id=#{id}
    </select>
    
    <select id="getConfigById" resultType="com.lifuyi.dev_monitor.model.mqtt.CollectConfig">
        select signal,phase,(select code from physical where id=physical_id) physical_code,channel_code,
        (select logic_code from logic_node where logic_id=con.logic_id) as logic_code,
        (select `name` from workshop_dev where id=collect_dev_id) as collect_dev_name,
        (select `type` from channel_parameter where id=channel_type_id) as type,
        (select frequency from channel_parameter where id=channel_type_id) as frequency,
        (select duration from channel_parameter where id=channel_type_id) as duration,
        (select accuracy from channel_parameter where id=channel_type_id) as accuracy,
        (select interval from channel_parameter where id=channel_type_id) as interval,state  from collect_dev_config con where id=#{id}
    </select>

    <select id="getCollectConfigById" resultType="com.lifuyi.dev_monitor.model.collect.CollectDevConfig">
        select * from collect_dev_config where id=#{id}
    </select>

    <delete id="deleteById">
        delete from collect_dev_config where id=#{id}
    </delete>

    <select id="getCollectConfigByPhysicalId" resultType="com.lifuyi.dev_monitor.model.collect.CollectDevConfig">
        select * from collect_dev_config where physical_id=#{id}
    </select>

    <select id="getConfigByChannelTypeId" resultType="com.lifuyi.dev_monitor.model.collect.CollectDevConfig">
        select * from collect_dev_config where channel_type_id=#{id}
    </select>

    <update id="removeLogicId">
        update collect_dev_config set logic_id=null where logic_id=#{logic_id}
    </update>

</mapper>