<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winterchen.dao.DevCustomFieldValueMapper">

    <delete id="deleteByElementId">
         delete from dev_type_custom_value  where dev_element_id=#{dev_element_id}
    </delete>

    <delete id="deleteByCustomFieldId">
        delete from dev_type_custom_value  where dev_type_custom_field_id=#{dev_type_custom_field_id}
    </delete>

</mapper>