<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winterchen.dao.DevFieldMapper">

    <select id="getFieldById" resultType="com.winterchen.model.DevField">
        select * from dev_field where field_id=#{field_id}
    </select>

</mapper>