<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifuyi.dev_monitor.dao.DevMapper">


    <select id="getType" resultType="com.lifuyi.dev_monitor.model.dev.DevType" parameterType="com.lifuyi.dev_monitor.model.dev.DevType">
        select * from dev_type where 1=1
        <if test="type_name!=null">
            and type_name=#{type_name}
        </if>
        <if test="id!=null">
            and id=#{id}
        </if>
    </select>

</mapper>