<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifuyi.dev_monitor.dao.DevMapper">


    <select id="getType" resultType="com.lifuyi.dev_monitor.model.dev.DevType" parameterType="com.lifuyi.dev_monitor.model.dev.DevType">
        select * from dev_type where 1=1
        <if test="type_name!=null">
            and type_name=#{type_name}
        </if>
        <if test="id!=null">
            and id=#{id}
        </if>
    </select>

    <select id="getBaseDevByCode" resultType="com.lifuyi.dev_monitor.model.dev.BaseDevEntity" >
        select * from dev_base_info where dev_code=#{dev_code}
    </select>

    <insert id="insertOrUpdateBase" parameterType="com.lifuyi.dev_monitor.model.dev.BaseDevEntity">
        insert into dev_base_info(id,dev_code,dev_type_id,dev_name,manager,service_enterprise_id,
        produce_enterprise_id,third_enterprise_id,install_instructions,pic_url,enterprise_id,update_time)
        values (#{id},#{dev_code},#{dev_type_id},#{dev_name},#{manager},#{service_enterprise_id},
        #{produce_enterprise_id},#{third_enterprise_id},#{install_instructions},#{pic_url},#{enterprise_id},CURRENT_TIMESTAMP)
        ON DUPLICATE KEY UPDATE
        dev_code=#{dev_code},dev_type_id=#{dev_type_id},dev_name=#{dev_name},manager=#{manager},
        service_enterprise_id=#{service_enterprise_id},produce_enterprise_id=#{produce_enterprise_id},
        third_enterprise_id=#{third_enterprise_id},install_instructions=#{install_instructions},
        pic_url=#{pic_url},enterprise_id=#{enterprise_id},update_time=CURRENT_TIMESTAMP
    </insert>


    <insert id="insertOrUpdateMotor" parameterType="com.lifuyi.dev_monitor.model.dev.Motor">
        insert into motor(id,power,speed,electric_current,voltage,bearing) values (#{id},
        #{power},#{speed},#{electric_current},#{voltage},#{bearing})  ON DUPLICATE KEY UPDATE 
        power=#{power},speed=#{speed},electric_current=#{electric_current},voltage=#{voltage},
        bearing=#{bearing}
    </insert>

    <insert id="insertOrUpdateWaterPump" parameterType="com.lifuyi.dev_monitor.model.dev.WaterPump">
        insert into water_pump(id,power,speed,flow,lift,bearing) values(#{id},#{power},
        #{speed},#{flow},#{lift},#{bearing})
         ON DUPLICATE KEY UPDATE
         power=#{power},speed=#{speed},flow=#{flow},lift=#{lift},bearing=#{bearing}
    </insert>

    <insert id="insertOrUpdateFan" parameterType="com.lifuyi.dev_monitor.model.dev.Fan">
        insert into fan(id,power,speed,flow,wind_pressure,bearing) values (#{id},#{power},
        #{speed},#{flow},#{wind_pressure},#{bearing}) ON DUPLICATE KEY UPDATE  power=#{power},
        speed=#{speed},flow=#{flow},wind_pressure=#{wind_pressure},bearing=#{bearing}
    </insert>

    <select id="getBaseListByEntity" parameterType="com.lifuyi.dev_monitor.model.dev.BaseDevEntity" resultType="com.lifuyi.dev_monitor.model.dev.Resp.BaseDevPagesRsp">
        select id,dev_code,dev_type_id,
        (select type_name from dev_type where id=dev_type_id) as dev_type_name,dev_name,manager,
        service_enterprise_id,produce_enterprise_id,third_enterprise_id,
        (select enterprise_name from enterprise_info where enterprise_id=service_enterprise_id) as service_enterprise_name,
        (select enterprise_name from enterprise_info where enterprise_id=produce_enterprise_id) as produce_enterprise_name,
        (select enterprise_name from enterprise_info where enterprise_id=third_enterprise_id) as third_enterprise_name,
        install_instructions,pic_url,m.enterprise_id,
        (select enterprise_name from enterprise_info where enterprise_id=m.enterprise_id) as enterprise_name
         from dev_base_info m where 1=1
         <if test="id!=null">
             and id=#{id} 
         </if>
         <if test="dev_code!=null">
             and dev_code=#{dev_code}
         </if>
         <if test="dev_name!=null">
             and dev_name like concat('%',#{dev_name},'%')
         </if>
         <if test="dev_type_id!=null">
             and dev_type_id=#{dev_type_id}
         </if>
         <if test="enterprise_id!=null">
             and enterprise_id=#{enterprise_id}
         </if>
         order by update_time desc
    </select>

    <select id="getMotorById" resultType="com.lifuyi.dev_monitor.model.dev.Motor">
        select * from motor where id=#{id}
    </select>

    <select id="getWaterPumpById" resultType="com.lifuyi.dev_monitor.model.dev.WaterPump">
        select * from water_pump where id=#{id}
    </select>

    <select id="getFanById" resultType="com.lifuyi.dev_monitor.model.dev.Fan">
        select * from fan where id=#{id}
    </select>

    <delete id="deleteMotorById">
        delete from motor where id=#{id}
    </delete>

    <delete id="deleteWaterById">
        delete from water_pump where id=#{id}
    </delete>

    <delete id="deleteFanById">
        delete from fan where id=#{id}
    </delete>

    <delete id="deleteById">
        delete from dev_base_info where id=#{id}
    </delete>


</mapper>