<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winterchen.dao.DevRelationMapper">

    <select id="getRelationByDevId" resultType="com.winterchen.model.DevRelation">
        select * from dev_relation where dev_id=#{devId}
    </select>

</mapper>