<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifuyi.dev_monitor.dao.EnterpriseMapper">


    <select id="getType" resultType="com.lifuyi.dev_monitor.model.enterprise.Resp.EnterpriseTypeResp">
        select * from enterprise_type;
    </select>

    <select id="getListByEntity" resultType="com.lifuyi.dev_monitor.model.enterprise.Enterprise">
        select * from enterprise_info where 1=1
        <if test="enterprise_id!=null">
            and enterprise_id=#{enterprise_id}
        </if>
        <if test="enterprise_name!=null">
            and enterprise_name like  concat('%',#{enterprise_name},'%')
        </if>
        <if test="enterprise_code!=null">
            and enterprise_code=#{enterprise_code}
        </if>
        <if test="enterprise_type_id!=null">
            and enterprise_type_id=#{enterprise_type_id}
        </if>
    </select>

    <insert id="insertOrUpdateById" parameterType="com.lifuyi.dev_monitor.model.enterprise.Enterprise">
        insert into enterprise_info(enterprise_id,enterprise_code,enterprise_name,enterprise_type_id,update_time)
        values (#{enterprise_id},#{enterprise_code},#{enterprise_name},#{enterprise_type_id},#{update_time})
        ON DUPLICATE KEY UPDATE enterprise_code=#{enterprise_code},enterprise_name=#{enterprise_name},
        enterprise_type_id=#{enterprise_type_id},update_time=#{update_time}
    </insert>

    <insert id="insertOrUpdateBinging" parameterType="com.lifuyi.dev_monitor.model.enterprise.EnterpriseBinging">
        insert into enterprise_binding(id,not_service_id,service_id) values (#{id},#{not_service_id},#{service_id})
        ON DUPLICATE KEY UPDATE not_service_id=#{not_service_id},service_id=#{service_id}
    </insert>

    <select id="getServiceNames" resultType="java.lang.String">
        select a.enterprise_name  from
        (select * from enterprise_binding where not_service_id=#{enterprise_id}) b left join enterprise_info a
        on b.service_id=a.enterprise_id
    </select>

    <select id="getTypeById" resultType="com.lifuyi.dev_monitor.model.enterprise.Resp.EnterpriseTypeResp">
        select * from enterprise_type where id=#{enterprise_type_id}
    </select>

    <select id="verificationName" resultType="java.lang.Integer">
        select count(1) from enterprise_info where enterprise_id!=#{id} and enterprise_name=#{name}
    </select>

    <select id="verificationCode" resultType="java.lang.Integer">
        select count(1) from enterprise_info where enterprise_id!=#{id} and enterprise_code=#{code}
    </select>

    <select id="deleteBingingByNotServiceId">
        delete from enterprise_binding where not_service_id=#{id}
    </select>

</mapper>