<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winterchen.dao.LogicRelationMapper" >


    <delete id="deleteByLogicId">
        delete from logic_relation where logic_id=#{logic_id}
    </delete>

    <insert id="insert" parameterType="com.winterchen.model.LogicRelation">
        insert  into logic_relation(logic_id,measure_id,channel_id) value (
        #{logic_id},#{measure_id},#{id}
        )
    </insert>

    <select id="queryForEntity" parameterType="com.winterchen.model.LogicRelation" resultType="com.winterchen.model.LogicRelation">
        select logic_id,measure_id from logic_relation where 1=1
        <if test="logic_id!=null">
            and logic_id=#{logic_id}
        </if>
        <if test="measure_id!=null">
            and measure_id=#{measure_id}
        </if>
    </select>

    <select id="getChannelIdByEntity"  parameterType="com.winterchen.model.LogicRelation" resultType="java.lang.String">
        select channel_id from logic_relation where 1=1
        <if test="logic_id!=null">
            and logic_id=#{logic_id}
        </if>
        <if test="measure_id!=null">
            and measure_id=#{measure_id}
        </if>
    </select>

    <delete id="deleteById">
        delete from logic_relation where logic_id=#{logic_id}
    </delete>

</mapper>