<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifuyi.dev_monitor.dao.LogicMapper">

    <delete id="clearByLogicId">
        delete from logic_relation where logic_id=#{logic_id}
    </delete>

    <insert id="insertOrUpdateLogicNode" parameterType="com.lifuyi.dev_monitor.model.logic.LogicNode">
        insert into logic_node(logic_id,logic_code,logic_name,enterprise_id)
        values (#{logic_id},#{logic_code},#{logic_name},#{enterprise_id})
        ON DUPLICATE KEY UPDATE
        logic_code=#{logic_code},logic_name=#{logic_name},enterprise_id=#{enterprise_id}
    </insert>

    <insert id="insertRelation">
        insert into logic_relation(logic_id,physical_id,channel_code)
        values (#{logic_id},#{physical_id},#{code})
    </insert>

    <select id="getLogicNodePages" resultType="com.lifuyi.dev_monitor.model.logic.resp.LogicResp"
            parameterType="com.lifuyi.dev_monitor.model.logic.LogicNode">
        select logic_id,logic_code,logic_name,
        (select enterprise_name from enterprise_info where enterprise_id=m.enterprise_id) as enterprise_name
         from logic_node m where 1=1
        <if test="logic_id!=null">
            and logic_id=#{logic_id}
        </if>
        <if test="logic_code!=null">
            and logic_code=#{logic_code}
        </if>
        <if test="logic_name!=null">
            and logic_name like concat('%',#{logic_name},'%')
        </if>
        <if test="enterprise_id!=null">
            and enterprise_id=#{enterprise_id}
        </if>

    </select>


    <select id="getRelationByLogicId" resultType="com.lifuyi.dev_monitor.model.logic.resp.RelationTableResult">
        select (select `name` from physical where id=physical_id) as physical_name,
        group_concat(channel_code) as codes from logic_relation where logic_id=#{logic_id} group by physical_id
    </select>


</mapper>