<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winterchen.dao.LogicMapper" >

    <update id="updateById" parameterType="com.winterchen.model.LogicNode">
        update logic_node set logic_code=#{logic_code},logic_name=#{logic_name},
        enterprise_id=#{enterprise_id} where logic_id=#{logic_id}
    </update>

    <insert id="insertEntity"  parameterType="com.winterchen.model.LogicNode">
        insert into logic_node(logic_id,logic_code,logic_name,enterprise_id)
        value (#{logic_id},#{logic_code},#{logic_name},#{enterprise_id})
    </insert>

    <select id="queryForEntity" parameterType="com.winterchen.model.LogicNode" resultType="com.winterchen.model.LogicNode">
        select * from logic_node where 1=1 
        <if test="logic_id!=null">
            and logic_id=#{logic_id}
        </if>
        <if test="logic_name!=null">
            and logic_name=#{logic_name}
        </if>
    </select>

    <delete id="deleteById">
        delete from logic_node where logic_id=#{logic_id}
    </delete>

    <delete id="deleteByEnterpriseId">
        delete from logic_node where enterprise_id=#{id}
    </delete>

</mapper>