<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifuyi.dev_monitor.dao.PhysicalMapper">


    <select id="getByCode" resultType="com.lifuyi.dev_monitor.model.physical.Physical">
        select * from physical where code=#{code}
    </select>

    <insert id="addOrUpdatePhysical" parameterType="com.lifuyi.dev_monitor.model.physical.Physical">
        insert into physical(id,`type`,code,num,network_id,`name`,enterprise_id) values
        (#{id},#{type},#{code},#{num},#{network_id},#{name},#{enterprise_id})
        ON DUPLICATE KEY UPDATE
        `type`=#{type},code=#{code},num=#{code},network_id=#{network_id},`name`=#{name},enterprise_id=#{enterprise_id}
    </insert>

    <select id="getPageByEntity" parameterType="com.lifuyi.dev_monitor.model.physical.Physical" 
     resultType="com.lifuyi.dev_monitor.model.physical.resp.PhysicalResp">
        select id,`type`,code,num,ph.network_id,ph.enterprise_id,
        (select network_name from network where network_id=ph.network_id) as network_name,`name`,
        (select enterprise_name from enterprise_info where enterprise_id=ph.enterprise_id) as enterprise_name
         from physical ph where 1=1
        <if test="id!=null">
            and id=#{id}
        </if>
        <if test="enterprise_id!=null">
            and enterprise_id=#{enterprise_id}
        </if>
        <if test="name!=null">
            and `name` like concat('%',#{name},'%')
        </if>
    </select>

    <insert id="insertOrUpdatePhysicalChannelBinding" parameterType="com.lifuyi.dev_monitor.model.physical.PhysicalChannelBinding">
        insert into physical_channel_binding(id,physical_id,channel_code,channel_type_id,collect_id)
        values (#{id},#{physical_id},#{channel_code},#{channel_type_id},#{collect_id})
        ON DUPLICATE KEY UPDATE
        channel_type_id=#{channel_type_id},collect_id=#{collect_id}
    </insert>

    <update id="setNetworkIdNullByNetworkId">
        update physical set network_id=null where network_id=#{network_id}
    </update>

    <update id="removeBingdingCollectId">
        update physical_channel_binding set collect_id=null where collect_id=#{id}
    </update>

    <select id="getChannelTypeByPhysicalId" resultType="string">
        select channel_type_id from physical_channel_binding where physical_id=#{id}
    </select>

    <delete id="deletePhysicalBingdingByPhysicalId">
        delete from physical_channel_binding where physical_id=#{id}
    </delete>

    <delete id="deleteById">
        delete from physical where id=#{id}
    </delete>

</mapper>