<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifuyi.dev_monitor.dao.WorkShopMapper">

    <select id="getWorkShopByName" resultType="com.lifuyi.dev_monitor.model.collect.WorkShop">
        select * from workshop where enterprise_id=#{enterprise_id} and `name`=#{name}
        and parent_id=#{parent_id}
    </select>

    <insert id="insertOrUpdateWorkShop" parameterType="com.lifuyi.dev_monitor.model.collect.WorkShop">
        insert into workshop(id,enterprise_id,`type`,`name`,parent_id) values
        (#{id},#{enterprise_id},#{type},#{name},#{parent_id}) ON DUPLICATE KEY UPDATE
        enterprise_id=#{enterprise_id},`type`=#{type},`name`=#{name},parent_id=#{parent_id}
    </insert>

    <select id="getWorkShopList" resultType="com.lifuyi.dev_monitor.model.collect.WorkShop"
            parameterType="com.lifuyi.dev_monitor.model.collect.req.WorkShopQueryReq">
        select * from workshop where enterprise_id=#{enterprise_id} and parent_id=#{parent_id} and `type`=#{type}
    </select>


    <select id="getWorkShopDevByName" resultType="com.lifuyi.dev_monitor.model.collect.WorkShopDev">
        select * from workshop_dev where shop_id=#{shop_id} and `type`=#{type}
        and `name`=#{name} and parent_id=#{parent_id}
    </select>

    <select id="getWorkShopDevByDevId" resultType="com.lifuyi.dev_monitor.model.collect.WorkShopDev">
        select * from workshop_dev where dev_id=#{dev_id}
    </select>

    <insert id="insertOrUpdateWorkShopDev" parameterType="com.lifuyi.dev_monitor.model.collect.WorkShopDev">
        insert into workshop_dev(id,name,shop_id,parent_id,type,dev_id,enterprise_id) values
        (#{id},#{name},#{shop_id},#{parent_id},#{type},#{dev_id},#{enterprise_id})
         ON DUPLICATE KEY UPDATE
         `name`=#{name},shop_id=#{shop_id},parent_id=#{parent_id},
         `type`=#{type},dev_id=#{dev_id},enterprise_id=#{enterprise_id}
    </insert>

    <select id="getNotBingingDevByEnterpriseId" resultType="com.lifuyi.dev_monitor.model.dev.BaseDevEntity">
        select a.* from (select * from dev_base_info where enterprise_id=#{enterpriseId})
        a left join workshop_dev b on a.id=b.dev_id where b.dev_id is null
    </select>

    <select id="getWorkShopDevList" resultType="com.lifuyi.dev_monitor.model.collect.WorkShopDev">
        select * from workshop_dev where  `type`='3' and shop_id=#{workshopId}
    </select>

    <select id="getWorkShopDevGroupList" resultType="com.lifuyi.dev_monitor.model.collect.resp.ShopDevGroup">
        select id,`name`,shop_id,parent_id,type,enterprise_id from workshop_dev where `type`='4' and shop_id=#{workshopId}
    </select>

    <select id="getSonDevList" resultType="com.lifuyi.dev_monitor.model.collect.WorkShopDev">
        select * from workshop_dev where  parent_id=#{id}
    </select>

    <select id="getParentIdById" resultType="string">
        select parent_id from workshop_dev where id=#{farm_id}
    </select>

    <select id="getDevGroupIdByDevId" resultType="com.lifuyi.dev_monitor.model.collect.WorkShopDev">
        select * from workshop_dev where dev_id=#{id}
    </select>

    <delete id="deleteDevById">
        delete from workshop_dev where id=#{id}
    </delete>

    <delete id="deleteShopById">
        delete from workshop where id=#{id}
    </delete>

    <select id="getDevByDevGroupId" resultType="com.lifuyi.dev_monitor.model.collect.WorkShopDev">
        select * from workshop_dev where parent_id=#{id} and `type`='5'
    </select>

</mapper>